<section class="project-philosophy">

    <app-container>

        <div class="philosophy-grid">

            <div class="left">

                <p class="eyebrow">

                    Design Philosophy

                </p>

                <h2>

                    Every project begins with understanding people,
                    place and purpose.

                </h2>

            </div>

            <div class="right">

                <p>

                    {{ project().philosophy }}

                </p>

            </div>

        </div>

    </app-container>

</section>