<section class="project-info">

    <app-container>

        <div class="info-grid">

            <div class="info-item">

                <span>Location</span>

                <h4>{{ project().location }}</h4>

            </div>

            <div class="info-item">

                <span>Year</span>

                <h4>{{ project().year }}</h4>

            </div>

            <div class="info-item">

                <span>Area</span>

                <h4>{{ project().area }}</h4>

            </div>

            <div class="info-item">

                <span>Status</span>

                <h4>{{ project().status }}</h4>

            </div>

            <div class="info-item">

                <span>Client</span>

                <h4>{{ project().client }}</h4>

            </div>

        </div>

    </app-container>

</section>