<section class="hero">

<app-container> 
<div class="hero__background"></div>


<div class="hero__overlay"></div>



<div class="hero__content">


<p class="hero__subtitle">
RPT Design Studio
</p>



<h1>
Designing
<br>
Timeless Spaces
</h1>



<p class="hero__description">

Architecture,
Interior Design
&
Spatial Experiences

</p>



<div class="hero__actions">


<app-button
variant="gold"
size="large">

Explore Projects

</app-button>


<app-button
variant="outline">

Start a Conversation

</app-button>


</div>



</div>



<div class="scroll-indicator">

    <div class="mouse">

        <span></span>

    </div>

    <p>Scroll</p>

</div>

</app-container>

</section>